@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('../fonts/fontface-inscription.css');

html,body{
    font-family: 'Questrial', sans-serif;
}
a {
    text-decoration: none;
    /* color: #000; */
}
.theme-color {
    color: #8b2845;
}
.btn.btn-default {
    background-color: #8b2845;
    border: 1px solid #8b2845;
    color: #fff;
}
.btn.btn-outline-default {
    background-color: transparent;
    border: 1px solid #8b2845;
    color: #8b2845;
}
.btn.btn-outline-default:focus,
.btn.btn-outline-default:active,
.btn.btn-outline-default:hover {
    background-color: #8b2845;
    border: 1px solid #8b2845;
    color: #fff;
}
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default:hover {
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
}
.modalStep .modal-close {
    position: absolute;
    right: -2em;
    cursor: pointer;
}
.hero-slider {
    position: relative;
}

.single-hs-item {
    height: 533px;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.item-bg1 {
    background-image: url(../img/5.png);
}

.item-bg2 {
    background-image: url(../img/5.jpg);
}

.hero-text {
    padding: 0 15px;
    text-align: left;
    max-width: 1140px;
    position: relative;
    left: 6em;
    right: 22em;
    top: 7em;
}

.hero-text h1 {
    color: #000;
    font-size: 71px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0;
}

.hero-text p {
    color: #fff;
    font-size: 17px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.hero-slider .owl-item.active h1 {
    -animation: 1s .3s fadeInUp both;
}

.hero-slider .owl-item.active p {
    -webkit-animation: 1s .3s fadeInUp both;
    animation: 1s .3s fadeInUp both;
}

.hero-slider .owl-item.active .slider-btn {
    -webkit-animation: 1s .3s fadeInUp both;
    animation: 1s .3s fadeInUp both;
}

.owl-carousel .owl-nav button.owl-prev {
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin: -40px 0 0;
    border-radius: 0;
    height: 50px;
    width: 50px;
}

.owl-carousel .owl-nav button.owl-next {
    background-color: #000000;
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin: -40px 0 0;
    border-radius: 0;
    height: 50px;
    width: 50px;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 11px;
    height: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #000000;
}

@media only screen and (max-width: 600px) {
    .single-hs-item {
        height: 550px;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text p {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .owl-carousel .owl-nav button.owl-next {
        top: auto;
        margin: 0;
        bottom: 0px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        top: auto;
        margin: 0;
        bottom: 0px;
    }

    .owl-dots {
        bottom: 10px;
        left: 50px;
        right: 50px;
    }
}

.slider-btn a {
    text-decoration: none;
    color: #101010;
    border: 3px solid #101010;
    padding: 0.6em 1.6em;
    margin-right: 2em;
}



/* category */
.btn-text {
    text-align: center;
}

.cate-btn {
    margin-top: 10.3em;
    font-size: 0.9em;
    background-color: #fff;
    border: 2px solid #282828;
    font-weight: 700;
    border-radius: 0;
}
/* category */

/* ring-create-section */

.engagement-ring-create h6 {
    text-align: right;
}

.engagement-ring-create h1 {
    text-align: right;
    font-size: 3.4em;
    font-weight: 600;
}

.engagement-ring-create p {
    text-align: right;
}
.ring-create-btn a {
    text-decoration: none;
    color: #101010;
    border: 3px solid #101010;
    padding: 0.6em 1.6em;
  
}
.engagement-ring-create .ring-create-btn {
    
}
.engagement-ring-create .ring-create-btn p {
    font-weight: 700;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    margin-left: 0.7em;
    margin-right: 0.7em;

}
.create-ring-bg {
    position: relative;
}

.create-ring-bg img {
    position: absolute;
    width: 500px;
    top: -3em;
}
.create-ring-sec {
    background: linear-gradient(45deg, #d4dbeb, #f1f2f7);
    padding: 4em;
    position: relative;
}
/* RingSpacial */

.diamond_j {
    background-image: url(/assets/img/Diamond_Sprite.png);
    width: 180px;
    /* height: 150px; */
    height: 160px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    background-position: left 3px top -2837px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 240px
}

.diamond_b {
    margin-top: 0;
    margin-right: 9px;
    height: 156px;
    overflow: visible
}

.ring_cont .btn-gap {
    margin-left: 10px;
    margin-right: 10px
}

.ring_sec {
    position: relative;
    padding-bottom: 150px;
    margin-top: 100px;
}

.ring_sec.rs_withgap {
    margin-top: 130px
}

.ring_sec.home-2-ring {
    position: relative;
    margin-top: 100px
}

.ring_sec .diamond_j_cont {
    position: absolute;
    right: 0;
    width: 652px;
    right: 0;
    top: -120px
}

/* ring-create-section */


/* Offer-banner-section */

.custom-offer-title {
    text-align: end;
    margin-top: 4.4em;
    font-size: 1.7em;
    font-weight: 700;
    color: #000;
}

.custom-offer-sub-title {
    text-align: end;
    font-size: 0.8em;
    color: #000;
}

.custom-offer-benner {
    margin-top: 10em;
}

/* Offer-banner-section */


/* rush-section */
.rush-sec {
    background: url(../img/diamond-2-bg.jpg);
    padding: 4em;
}
.no-rush {text-align: center;padding: 3em;}
.no-rush h5 {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.no-rush h2 {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.no-rush .btn {
    background-color: #212529;
    color: #fff;
}


/* rush-section */


/* dimond-detail-section */

.detail-dimond-bg {
    background: url(../img/detail-dimond-bg.jpg);
    padding: 4em;
}
.detail-dimond {
    padding: 3em;
    text-align: center;
}

.detail-dimond h5 {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 1em;
}

.detail-dimond h2 {
    font-weight: 700;
    margin-bottom: 0.5em;
}

.detail-dimond .btn {
    background-color: #212529;
    color: #fff;
}
/* dimond-detail-section */

/* crafted-design-section */
.crafted-design-bg {
    background: url(../img/crafted-desing-bg.jpg) no-repeat center/cover;
    padding: 7em;
}
.crafted-design-text {
    text-align: center;
    background: #fff;
    padding: 7.8em 2.4em;
}
.crafted-design-text h4 {
    font-weight: 700;
}

.crafted-design-text .btn {
    background-color: rgb(33, 37, 41);
    color: rgb(255, 255, 255);
}
/* crafted-design-section */

/* Blog */
.blog-sectionTitle {
    text-align: center;
    text-transform: uppercase;
    margin-top: 8em;
}

.blog-sectionTitle h5 {
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 1.6em;
    font-size: 1.2em;
    font-weight: 700;
}

.blog-sectionTitle h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0.7em;
}

.blog-sectionTitle p {
    font-size: 0.8em;
}
/* Blog */



/* partner Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider:not(.diamons-shapes) {
    margin-top: 5em;
    margin-bottom: 5em;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* partner Slider */


/* ====== footer ====== */
.customer-service ul li {
    list-style: none;
    line-height: 2.1em;
}

.customer-service ul {
    padding: 0;
}

.policies ul {
    list-style: none;
    padding: 0;
}

.policies ul li {
    line-height: 2.1em;
}

.follow-us ul li a {
    font-size: 1.4em;
    border: 1px solid #000;
    border-radius: 100%;
    padding: 0.5em;
    display: flex;
    height: 2em;
    width: 2em;
    text-decoration: none;
    margin-top: 1em;
    color: #000;
}
.footer-bottom {
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid #ddd;
}

.footer-bottom p {
    padding: 1em;
    margin: 0;
}
.footer-bg {
    background-color: #efefef;
    padding: 4em 0 0 0;
}
.about-footer a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
/* ===== footer ==== */



/* ==========header========= */

.middel_right button {
    /* border: none;
    padding: 0.7em; */
    background: none;
    padding: 0.4em 1em;
}
.cart_link .cartIcon {
    /* font-size: 19px;
    top: 3px; */
    margin-right: 10px;
    border-right: 1px solid #ebebeb;
    position: relative;
    padding-right: 10px;
}
.main_menu ul {
    margin: 0;
}
.main_menu nav > ul > li > a{
    text-decoration: none;
}
.main_menu nav > ul > li > ul > li > a{
    text-decoration: none;
}
.main_menu nav > ul > li > ul.mega_menu > li{
    list-style: none;
}
.main_menu nav ul li ul.sub_menu.pages li{
    list-style: none;
}
/* ==========header========= */



/* ==========About========= */
#breadcrumbRow h2 {
    background: url(http://veepixel.com/tf/html/d-shine/images/pageCover.png) no-repeat scroll center 0 transparent;
    background-size: cover;
    font-size: 42px;
    font-family: 'PT Sans', sans-serif;
    line-height: 198px;
    height: 198px;
    text-align: center;
    margin: 0;
    color: #fff;
    text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.4)!important;
    font-weight: 700;
}
#breadcrumbRow .pageTitle h4 {
    font-family: 'PT Sans', sans-serif;
    line-height: 50px;
    margin: 0;
    display: none;
}
.fleft {
    float: left;
}
#breadcrumbRow .pageTitle ul {
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 50px;
}
.fright {
    float: right;
}
#breadcrumbRow .pageTitle ul li {
    font-family: 'PT Sans', sans-serif;
    color: #222;
}
#whatWeDid .tab_menu .row {
    height: 390px;
    background: url(http://veepixel.com/tf/html/d-shine/images/wwd.jpg) no-repeat scroll center 0;
    background-size: cover;
    margin-right: 5px;
    position: relative;
}
#hww .col-md-4 h5 span {
    color: #fd405e;
    margin-right: 5px;
}
.planing-sec {
    margin-top: 4em;
    margin-bottom: 4em;
}
#hww .col-md-4 p {
    font-family: 'Questrial', sans-serif;
    line-height: 29px;
    color: #777;
    font-size: 17px;
}
#hww .col-md-4 h5 {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #222;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/* ==========About========= */

/* ==========filter========= */

.filter-sec {
    margin-top: 5em;
}

.filter-menu {
    border: 0;
    background: transparent;
}

.filter-menu .btn-number {
    border: 3px solid #8b2845;
    border-radius: 100%;
    padding: 0.5em;
    display: flex;
    height: 2em;
    justify-content: center;
    width: 2em;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 2.1em;
    line-height: 4.4em;
    font-weight: 800;
    margin: auto;
}
.filter-menu .btn-title {
    font-size: 1.3em;
    font-weight: 700;
    color: #8b2845;
}
.middle-btn:before {
    content: "";
    position: absolute;
    width: 7.2em;
    height: 1px;
    background: black;
    left: 91px;
}

.middle-btn {
    position: relative;
}

.middle-btn:after {
    content: "";
    position: absolute;
    width: 8.1em;
    height: 1px;
    background: black;
    right: 97px;
}
.filter-range-body {
    margin-top: 8em;
    margin-bottom: 8em;
}
.range-text-title h2 {
    font-weight: 700;
    color: #8b2845;
}

.range-text-title p {
    font-size: 1.4em;
}
.filter-sec-body {
    background-color: #faf9f7;
    padding: 1em;
}
.view-btn {
    border: 1px solid #ddd;
    background: transparent;
    padding: 0.5em;
    margin-right: 0.9em;
}
.filter-btn {
    border: 1px solid #ddd;
    padding: 0.6em 1em;
    margin-right: 0.2em;
     background-color: #8b2845;
     color: #fff;
}
.filter-btn:hover {
    border: 1px solid #ddd;
    padding: 0.6em 1em;
    margin-right: 0.2em;
     background-color: #8b2845;
     color: #fff;
}

.filter-btn:active {
    background-color: #fff;
    border: 1px solid #8b2845;
    color: #8b2845;

}

.filter-btn:focus {
     background-color: #fff;
    border: 1px solid #8b2845;
    color: #8b2845;
}
.form-select {
    /* background-color: #000 !important;
    color: #fff; */
}
.product-body-text h5 {
    font-size: 1em;
    text-align: center;
}

.product-body-text p {
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
    color: #8b2845;
}

.product-body-text {
    padding: 2em 0;
}
.product-img {padding: 1em;}
.product-body {
    border: 1px solid #8b2845;
}
/* ==========filter========= */

/* ==========Contact========= */
.heading {
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1;
    color: #8b2845;
    text-transform: uppercase;
}
.contactInfo :is(.media-left, .media-body) {
    display: table-cell;
    vertical-align: top;
}
/* ==========Contact========= */

/* ==========Customize========= */
.customize-cate {
    border: 0;
    align-items: center;
}

.customize-cate img {
    border-radius: 50%;
    width: 13.3em;
    height: 13.3em;
}

.customize-text h5 {
    color: #8b2845;
    font-weight: 700;
    border: 1px solid #8b2845;
    padding: 0.4em;
}

.customize-text {
    text-align: center;
}
.customize-sec {
    background: linear-gradient(45deg, #d4dbeb, #f1f2f7);
    padding: 4em;
    margin-bottom: 9em;
    margin-top: 5em;
}
/* ==========Customize========= */

/* ==========FAQ========= */
.faq-btn {
    background-color: #8b2845;
    padding: 0.5em 1.1em;
    color: #fff;
}
.faq-btn:hover {
    border: 1px solid #8b2845;
    padding: 0.5em 1.1em;
    color: #8b2845;
    background: transparent;
}

.right-faq-sec .faq-btn {
    margin-bottom: 1em;
}

.right-faq-sec {
    padding: 1em;
}
.title-faq {font-weight: 700;}
.title-faq {font-weight: 700;}

.faq-text {
    padding: 2em 0;
}

.faq-text h3 {
    margin-bottom: 1em;
    color: #8b2845;
    font-weight: 700;
}
.faq-item {
    border: 0;
    border-bottom: 1px solid #ddd;
}
/* ==========FAQ========= */



/* ==========Start wishlist========= */
.wishList .card-wishList {
    border-radius: 0;
    border-color: #ebebeb;
    box-shadow: 4px 4px 8px 0 #00000012;
}
.wishList .card-wishList .card-title {
    display: flex;
    justify-content: space-between;
}
.wishList .card-wishList .card-title .title {
    font-size: 1.2em;
}
.wishList .card-wishList .item-img {
    background-color: #f3f3f3;
    margin-bottom: 1em;
}
.wishList .card-wishList .dtl-list {
    list-style: none;
    min-height: 15em;
    padding: 0;
}
.wishList .card-wishList .dtl-list li {
    position: relative;
    padding-left: 2rem;
}
.wishList .card-wishList .dtl-list li .card-icon {
    position: absolute;
    width: 16px;
    left: 0;
    color: #767676;
}
.wishList .card-wishList .item-price {
    display: flex;
    justify-content: end;
}
.wishList .card-wishList .item-price .original-item-price {
    text-decoration: line-through;
    margin-right: 1em;
}
.wishList .card-wishList .item-price .toBpaid {
    color: #8b2845;
}

/* ==========End wishlist========= */

/* ==========Start cartlist========= */
.cartList .card-cartList .card-body {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}
.cartList .card-cartList .card-body .card-title {
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
}
.cartList .card-cartList .card-body .leftImg-wrapper {
    flex: 0 0 auto;
    max-width: 30%;
    background-color: #f3f3f3;
    border-radius: 5px;
    position: relative;
}
.cartList .card-cartList .card-body .dtlGroup {
    flex: 0 0 auto;
    max-width: 70%;
}
.cartList .card-cartList .card-body .dtlGroup .dtl-list {
    list-style: none;
    padding: 0;
}
.cartList .card-cartList .card-body .dtlGroup .dtl-list li {}
.cartList .card-cartList .card-body .dtlGroup .dtl-list li .card-icon {
    height: 1em;
    width: 1em;
}
/* ==========End cartlist========= */






/* ===========responship============ */
@media screen and (max-width: 425px) {
    .custom-offer-sec {
        overflow: hidden;
    }
    .engagement-ring-create h1 {
        font-size: 1.5em;
        text-align: center;
    }
    .hero-text {
        padding: 0 28px;
        left: 0;
    }
    .slider-btn a {
        display: block;
        margin-top: 1em;
    }

    section{
        padding: 0 !important;
    }
    .ring-create-btn a {
        padding: 0.6em 0.6em;
        font-size: 0.7em;
    }
    .engagement-ring-create .ring-create-btn {
        margin-bottom: 3em;
        justify-content: center !important;
    }
    .custom-offer-benner {
       margin-top: 0;
    }
    .custom-offer-title {
    margin-top: 0;
    }
    .no-rush {
        padding: 3em 1em;
    }
    .detail-dimond {
        padding: 3em 1em;
        text-align: center;
    }
    .crafted-design-text {
        padding: 1em;
        font-size: 0.9em;
        transform: scale(0.5);
        transform-origin: top left;
        margin-left: 1em;
    }
    .owl-carousel.d-carousel-cener .owl-nav .owl-prev, .owl-carousel.d-carousel-cener .owl-nav .owl-next {
        width: 70px;
        background-size: 100%;
    }
    .owl-carousel.d-carousel-cener .active.center .dc-inner .dc-containt p {
        font-size: 13px;
    }
    .owl-carousel.d-carousel-cener .active.center .dc-inner .dc-containt h2 {
        font-size: 23px;
    }
    .blog-sectionTitle {
        margin-top: 2em;
    }
    .blog-sectionTitle h5 {
        margin-bottom: 1em;
        font-size: 0.9em;
    }
    .slick-slider:not(.diamons-shapes) {
    margin: 0;
    }
    .diamond_j_cont {
        margin-bottom: 3em;
    }
    .sectionTitle h5 {
        margin-bottom: 0.7em;
    }
    .detail-dimond .btn {
        margin-top: 1em;
    }
    .detail-dimond h2 {
        margin-bottom: 1em;
    }
    .diamond_j {
        background-image: url(/assets/img/Diamond_Sprite.png);
        width: 108px;
        /* height: 150px; */
        height: 107px;
        background-size: 100%;
        margin-left: auto;
        margin-right: auto;
        background-position: left 3px top -2754px;
        position: -webkit-sticky;
        position: sticky;
        z-index: 1;
        top: 240px;
        margin-bottom: 3.6em;
    }
    .diamond_b {
        margin-top: 0;
        margin-right: 0;
        height: 147px;
        overflow: visible;
    }
    .engagement-ring-create p, .engagement-ring-create h6 {
        text-align: center;
    }
    .item-bg2 {
        background-image: linear-gradient(#ffffff8f, #ffffff54), url(../img/5.jpg);
        background-position: 85%;
    }
    .item-bg1 {
        background-image: linear-gradient(#ffffff8f, #ffffff54), url(../img/5.png);
        background-position: 85%;
    }
    .no-rush .btn {
        margin-top: 1em;
    }
    .footer-bottom p {
        font-size: 0.8em;
    }
    .custom-offer-benner {
        margin-bottom: 1em;
    }
    .heading {
        margin-top: 1.2em;
    }
    .stepHead--mnSYI .stepNumber--Vl0cC {
        font-size: 32px !important;
    }
    .stepHead--mnSYI .stepTitle--VTN7H .stepTitleSecond--I3t9t {
        font-size: 12px !important;
    }
    .stepData--lAuzk .funnelTypeIconWrapper--ormUy span {
        width: 18px !important;
    }
    .stepData--lAuzk .funnelTypeIconWrapper--ormUy {
        width: 32px !important;
        height: 30px !important;
    }
    .stepHead--mnSYI {
        margin-left: 13px !important;
    }
    .funnelContainer .funnelTypeIconWrapper--Y0LBw span {
        width: 16px !important;
    }
    .funnelContainer .funnelTypeIconWrapper--Y0LBw {
        width: 32px !important;
        height: 30px !important;
    }
    .fltr-itemList .tab-pane .item-views {
        position: unset !important;
        margin-top: 1em;
    }
    .grid-item-img img {
        width: 5.2em !important;
        height: 5.2em !important;
    }
    .funnelContainer {
        height: 61px !important;
    }
    .funnelPart--Omb4B.active--bcso0 .funnelPartContent--Tenfk .funnelRightChevron--pcUVq::before, .funnelPart--Omb4B.active--bcso0 .funnelPartContent--Tenfk .funnelRightChevron--pcUVq::after {
        height: 34px !important;
    }
    .funnelPart--Omb4B.active--bcso0 .funnelPartContent--Tenfk .funnelRightChevron--pcUVq {
        height: 66px !important;
    }
    .funnelPart--Omb4B .funnelPartContent--Tenfk .funnelRightChevron--pcUVq::before, .funnelPart--Omb4B .funnelPartContent--Tenfk .funnelRightChevron--pcUVq::after {
        height: 31px !important;
    }
    .funnelPart--Omb4B .funnelPartContent--Tenfk .funnelRightChevron--pcUVq {
        height: 62px !important;
    }
}
/* ===========responship============ */

.pri-pol-text {
    padding: 0;
    margin-left: 1em;
}

.pri-pol-text li {
    margin-bottom: 0.7em;
}

.inscription-wrapper .inscriptionPath {
    fill: none;
}
.inscription-wrapper .inscriptionText {
    text-shadow: #e3e3e3 1px 1px;
    fill: #303030cf;
}
.inscription-wrapper .inscriptionText.font1 {
    font: normal 1.5em 'El Messiri';
}
.inscription-wrapper .inscriptionText.font2 {
    font: normal 1.5em 'Candlescript Demo Version';
}

.subLinks li {
    position: relative;
    padding-left: 1.2em;
}
.subLinks li:before {
    content: "";
    width: 1em;
    height: 1em;
    background: url(../img/icon/nav_icon.svg) no-repeat center;
    position: absolute;
    left: 0;
    top: 5px;
}